footer.footer.footer-static.footer-transparent
            p.clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2
              span.float-md-left.d-block.d-md-inline-block
                | Copyright  © 2018 
                a.text-bold-800.grey.darken-2(href='https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent', target='_blank') PIXINVENT 
                | , All rights reserved.
              span.float-md-right.d-block.d-md-inline-blockd-none.d-lg-block
                | Hand-crafted & Made with 
                i.ft-heart.pink
          script(src='/stylesheets/app-assets/vendors/js/vendors.min.js')
          script(src='/stylesheets/app-assets/vendors/js/extensions/jquery.knob.min.js')
          script(src='/stylesheets/app-assets/vendors/js/charts/raphael-min.js')
          script(src='/stylesheets/app-assets/vendors/js/charts/morris.min.js')
          script(src='/stylesheets/app-assets/vendors/js/charts/chartist.min.js')
          script(src='/stylesheets/app-assets/vendors/js/charts/chartist-plugin-tooltip.js')
          script(src='/stylesheets/app-assets/vendors/js/charts/chart.min.js')
          script(src='/stylesheets/app-assets/vendors/js/charts/jquery.sparkline.min.js')
          script(src='/stylesheets/app-assets/vendors/js/extensions/moment.min.js')
          script(src='/stylesheets/app-assets/vendors/js/extensions/underscore-min.js')
          script(src='/stylesheets/app-assets/vendors/js/extensions/clndr.min.js')
          script(src='/stylesheets/app-assets/vendors/js/extensions/unslider-min.js')
          script(src='/stylesheets/app-assets/js/core/app-menu.js')
          script(src='/stylesheets/app-assets/js/core/app.js')
          script(src='/stylesheets/app-assets/js/scripts/pages/dashboard-project.js')