<section class="main">
    <div class="image"> <img src="assets/images/test.png"></div>

    <div class="t-name">
   <div class="t-test">
     <div class="t-left">
         <h5>Thyroid screeening</h5>
         <p>also known as: free Triiodothyronine </p>
     </div>
     <div class="T-right">
         <h5><b>₹300</b></h5>
     </div>
   </div>
   <p>2 tests - fasting</p>
 </div>  
 <div class="t-abt">
     <h5>About</h5>
     <p> simply dummy text of the printing and typesetting industry. 
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley.</p>
     <h5>Tests</h5>    
     <ul class="test-list">
         <li>
             <div class="row">
                 <div class="col-2"><img src="assets/images/blood.png"></div>
                 <div class="col-10">
                     <span>T3</span>
                     <p>also known as: free Triiodothyrnine</p>
                 </div>
             </div>
                
         </li>
         <li>
             <div class="row">
                 <div class="col-2"><img src="assets/images/blood.png"></div>
                 <div class="col-10">
                     <span>T4</span>
                     <p>also known as: free Thyroxine</p>
                 </div>
             </div>
                
         </li>
         </ul>
         <h5>Preparations</h5>
         <p>Avoid eating or drinking anything 10-12 hour before the sample collection</p>
         <h5>Report Delivery</h5>
         <p>1 Day</p>
 </div>


 </section>