<div class="invoice order-details">
    <b>Apna Order Pvt.ltd</b>
    <div class="invoice-in">
        <p>Invoice no - #234650<br>11/08/2020 </p>
        <p><b>₹ 700</b></p>
    </div>
    <p style="margin: 0;">Mr.Rahul Roy</p>
    <p style="margin: 0;">Address</p>
    <p style="margin: 0;"><b>Laboratory name: abc laboratory</b> </p>
    <p style="margin: 0px;"><b>Collection date & time: Tommorow 8.00am</b></p>
       <div class="invoice-in" style="margin-top: 20px;">
           <p ><b>Test  Name</b></p>
           <p><b>Price (₹)</b></p>
       </div>
       <div class="invoice-in">
           <p style="margin: 0;">Blood Glucose</p>
           <p style="margin: 0;"> 150.00</p>
       </div>
       <div class="invoice-in">
           <p>Thyroid (T3, T4)</p>
           <p> 450.00</p>
       </div>
       <div class="invoice-in">
           <p style="margin: 0;"><b>Total Price</b></p>
           <p style="margin: 0;"> 600.00</p>
       </div>
       <div class="invoice-in">
           <p><b>Collection charge</b></p>
           <p> 000.00</p>
       </div>
       <div class="invoice-in">
           <p><b>Total  Amount (₹)</b></p>
           <p> 000.00</p>
       </div>
   
</div>