<section class="maim">
    <p class="or-1">Order history</p>
    <p class="or-2">Dispatched</p>
    <div class="od">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="od-in-1">
                    <img src="assets/images/microscope.png">
                <h3 class="lab-1">Laboratory Name</h3>
                </div>
            </div>
            <div class="col-6">
                <div class="od-in-2">
                <p>Blood  Glucose test <span>(Blood and scrambled it to make )</span><p>
                 <p>Thyroid (T3, T4) test  <span>(Blood and scrambled it to make )</span></p>
                    <span class="c"> <b> Collection  date & Time:</b>Tomorrow 8.00 am</span>
                        <a routerLink="/orderdetail"><button>View Order Details</button></a>
                </div>
            </div>
        </div>
    </div>
<div class="shadow">
<div class="od mr">
<p class="or-3">Collected on 9/08/2020</p>
<div class="row no-gutters">
    <div class="col-6">
        <div class="pre-order">
            <img src="assets/images/microscope.png" height="45px">
            <p>Laboratory Name</p>
        </div>
    </div>
   <div class="col-6">
    <div class="pre-order-2">
        <p>Thyroid (T3, T4) test  <span>(Blood and scrambled it to make )</span></p>
        <a routerLink="/orderdetail"><button>View Order Details</button></a>
    </div>
</div>
  
</div>
</div>
<div style="border-bottom: 1px solid #a09f9f;;"></div>
<div class="od mr">
    <p class="or-3">Collected on 9/08/2020</p>
    <div class="row no-gutters">
        <div class="col-6">
            <div class="pre-order">
                <img src="assets/images/microscope.png" height="45px">
                <p>Laboratory Name</p>
            </div>
        </div>
       <div class="col-6">
        <div class="pre-order-2">
            <p>Thyroid (T3, T4) test  <span>(Blood and scrambled it to make )</span></p>
            <a routerLink="/orderdetail"><button>View Order Details</button></a>
        </div>
    </div>
      
    </div>
    </div>
</div>
        
</section>