<section class="main">
    <div class="test" *ngFor="let cd of cartData; let i = index">
        <div class="b-1" >
            <h3><b>TestName:</b>{{cd.product.package_name}} <span><b>Description:</b>{{cd.product.package_desc}}</span></h3>
            <p><b>Qty:</b>{{cd.quantity}}</p>
            <h3><b>₹{{cd.product.amount * cd.quantity}}</b></h3>
        
       
            
        </div>
    </div>
    

    <div class="test">
        <p class="pd-1">Price details</p>
        <div class="pd-2">
                   <p> price(2 items)</p> 
                   <p>  ₹ 600</p>
        </div>
        <div class="pd-2" id="pp">
            <p>Collection Fee</p> 
            <p>  ₹ 100</p>
        </div>
        <div class="pd-2">
        <p> <b>Total Amount</b></p>
            <p><b>₹ 700</b></p>
            
        </div>
    </div>
    <div class="footer">
        <div class="left"><b>₹ 700</b></div>
        <div class="right"><a routerLink="/placeorder">Place Order</a></div>
    </div>
</section>